body {
	background-color: #f2acbc;
}

h1 {
	font-family: "Arial";
	color: #9f76ab;
	text-align: center;
}

h2 {
	font-family: "Arial";
	text-align: right;
	color: #ff4545;
}

p {
	text-align: left;
	color: #ff8585;
	font-family: "Arial";
	font-style: italic;
}

img {
	float: left;
}

#rcorners {
	border-radius: 50%;
	background: #9f76ab;
	padding: 20px; 
	width: 200px;
	height: 150px;
	float: right;
}
